{% load static %}
<!-- footer section start -->
<footer class="footer-section">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget about-widget">
                        <div class="footer-logo">
                            <img src="{% static 'images/LogoSito.png' %}" alt="Logo" class="img-fluid">
                        </div>
                        <p>Mondaini Boutique offre abbigliamento di alta qualità per uomo, donna e bambino. La nostra missione è portare eleganza e stile nella vita quotidiana.</p>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <h4 class="widget-title">Categorie</h4>
                        <ul class="footer-links">
                            <li><a href="#" class="category-link" data-tipo="uomo">Uomo</a></li>
                            <li><a href="#" class="category-link" data-tipo="donna">Donna</a></li>
                            <li><a href="#" class="category-link" data-tipo="bambino">Bambino</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <h4 class="widget-title">Informazioni</h4>
                        <ul class="footer-links">
                            <li><a href="#">Chi Siamo</a></li>
                            <li><a href="#">Termini e Condizioni</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Spedizioni</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget contact-widget">
                        <h4 class="widget-title">Contatti</h4>
                        <ul class="contact-info">
                            <li><i class="fas fa-map-marker-alt"></i> Via Roma 123, Milano, Italia</li>
                            <li><i class="fas fa-phone-alt"></i> +39 3406421538</li>
                            <li><i class="fas fa-envelope"></i> info@mondainiboutique.it</li>
                            <li><i class="fas fa-clock"></i> Lun-Sab: 9:00 - 19:00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright">© 2023 Mondaini Boutique. Tutti i diritti riservati.</p>
                </div>
                <div class="col-md-6">
                    <div class="payment-methods text-right">
                        <img src="{% static 'images/LogoSito.png' %}" alt="Metodi di pagamento" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer section end -->

<!-- back to top button -->
<a href="#" class="back-to-top" id="backToTop"><i class="fas fa-chevron-up"></i></a>